data_transmission_TPA/src/conf/xml-resources/web-service-references/LoginService/wsdl/localhost_8080/Data_Transmission_using_TPA/LoginService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://data_transmission_using_tpa.mycompany.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://data_transmission_using_tpa.mycompany.com/">

<xs:element name="login_serv" type="tns:login_serv"/>

<xs:element name="login_servResponse" type="tns:login_servResponse"/>

<xs:complexType name="login_serv">
<xs:sequence>
<xs:element name="EmailId" type="xs:string" minOccurs="0"/>
<xs:element name="Pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login_servResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>