data_transmission_TPA/src/conf/xml-resources/web-service-references/searchService/wsdl/localhost_8084/Data_Transmission_Server1/SearchService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Classes/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Classes/">

<xs:element name="getSearchService" type="tns:getSearchService" />

<xs:element name="getSearchServiceResponse" type="tns:getSearchServiceResponse" />

<xs:complexType name="getSearchService">
<xs:sequence>
<xs:element name="Emailid" type="xs:string" minOccurs="0" />
<xs:element name="Data" type="xs:string" minOccurs="0" />
<xs:element name="Algo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSearchServiceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>