data_transmission_TPA/web/WEB-INF/wsdl/localhost_8084/Data_Transmission_Server1/NewWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Classes/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Classes/">

<xs:element name="getfile" type="tns:getfile" />

<xs:element name="getfileResponse" type="tns:getfileResponse" />

<xs:complexType name="getfile">
<xs:sequence>
<xs:element name="emailid" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getfileResponse">
<xs:sequence>
<xs:element name="return" type="tns:hashMap" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hashMap">
<xs:complexContent>
<xs:extension base="tns:abstractMap">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="abstractMap" abstract="true">
<xs:sequence />
</xs:complexType>
</xs:schema>