data_transmission_TPA/src/conf/xml-resources/web-service-references/performanceService/wsdl/localhost_8084/Data_Transmission_Server1/performanceService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Classes/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Classes/">

<xs:element name="getPerformance" type="tns:getPerformance" />

<xs:element name="getPerformanceResponse" type="tns:getPerformanceResponse" />

<xs:complexType name="getPerformance">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getPerformanceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>